footer.main-foot
	.container
		.row
			.col-md-2.col-sm-6
				a.logo(href="#!")
					img(src="assets/img/logo.png", alt="Юрдис")
				p.footer-about Оценка любого имущества, активов, бизнеса, убытков, оспаривание кадастровой стоимости, ценных бумаг в Москве и Московской области.
			.col-md-3.col-md-push-7.col-sm-6
				.text-right
					.top-phone #[span #[i.fa.fa-phone] 8 (929)] 333-777-88, 333-777-99
					.top-email.hidden-sm #[span #[i.fa.fa-envelope] E-Mail :] #[a(href="#!") emailsender@gmail.com]
					.top-button
						a.button.button-small.popup-with-move-anim(href="#callback", data-form="Нижняя форма") Заказать звонок
				.developer.text-right.hidden-xs
					a(href="#!") #[span Создание сайта]
						img(src="assets/img/cwebs.jpg", alt="Cwebs")
			.col-md-6.col-md-offset-1.col-md-pull-3.col-sm-12
				.row
					.col-sm-6
						.top-panel-box
							h4 Адреса организаций:
							ul
								li #[i.fa.fa-map-marker] г. Москва, ул. Соколовского, д. 3, офис № 305
								li #[i.fa.fa-map-marker] г. Москва, ул. Соколовского, д. 3, офис № 305
						.top-panel-box
							h4 Время работы:
							ul
								li #[i.fa.fa-clock-o] пн-пт с 10-00 - 18-00;#[br] перерыв с 13-00 до 14-00#[br] сб-вс выходной день
					.col-sm-6
						.top-panel-box
							h4 Услуги компании:
							ul.menu-type-2
								li
									a(href="page.html")#[span.fa.fa-check] Оценка недвижимости

								li
									a(href="page.html")#[span.fa.fa-check] Оценка земли
								li
									a(href="page.html")#[span.fa.fa-check] Оценка ущерба
								li
									a(href="page.html")#[span.fa.fa-check] Оспаривание кадастровой стоимости
								li
									a(href="page.html")#[span.fa.fa-check] Оценка инвестиционных проектов
								li
									a(href="page.html")#[span.fa.fa-check] Оценка нематериальных активов
								li
									a(href="page.html")#[span.fa.fa-check] Оценка ценных бумаг
								li
									a(href="page.html")#[span.fa.fa-check] Переоценка

