.hidden
	form.popup-form.callback#callback.zoom-anim-dialog
		h3 Заказать звонок
		label
			span Ваше имя
			input(type="text", name="Имя", placeholder="Введите ваше имя ...")
		label
			span Ваш телефон
			input(type="text", name="Телефон" ,placeholder="Введите ваш телефон ...", required)
		.text-center
			button.button Отправить
		input.formname(type="hidden", name="Форма")
		
	form.popup-form.callback#order.zoom-anim-dialog
		h3 Заказать: Оценка земли
		label
			span Ваше имя
			input(type="text", name="Имя", placeholder="Введите ваше имя ...")
		label
			span Ваш телефон
			input(type="text", name="Телефон" ,placeholder="Введите ваш телефон ...", required)
		.text-center
			button.button Заказать
		input.formname(type="hidden", name="Услуга" ,value="Оценка земли")