header.main-head
	.mobile-mnu.hidden-md.hidden-lg
		a.toggle-mnu.hidden-lg(href="#!") #[span]
		#[b Меню]
	s
	nav.top-line
		.container
			ul.sf-menu
				li.active
					a(href="#!") Главная
				li
					a(href="#!") О компании
				li
					a(href="#!") Услуги и стоимость #[i.fa.fa-caret-down]
					ul
						li
							a(href="#!") Подменю
						li
							a(href="#!") Подменю
							ul
								li
									a(href="#!") Подменю-1
								li
									a(href="#!") Подменю-1
								li
									a(href="#!") Подменю-1
						li
							a(href="#!") Подменю
				li
					a(href="#!") Сертификаты
				li
					a(href="#!") Статьи
				li
					a(href="#!") Контакты
					
	section.top-panel
		.container
			.top-panel-content
				.row
					.col-md-2.col-sm-6.col-xs-4
						a.logo(href="#!")
							img(src="assets/img/logo.png", alt="Юрдис")
					.col-md-4
						.top-panel-box.hidden-sm.hidden-xs
							h4 Адреса организаций:
							ul
								li #[i.fa.fa-map-marker] г. Москва, ул. Соколовского, д. 3, офис № 305
								li #[i.fa.fa-map-marker] г. Москва, ул. Соколовского, д. 3, офис № 305
					.col-md-3
						.top-panel-box.hidden-sm.hidden-xs
							h4 Время работы:
							ul
								li #[i.fa.fa-clock-o] пн-пт с 10-00 - 18-00;#[br] перерыв с 13-00 до 14-00#[br] сб-вс выходной день
					.col-md-3.col-sm-6.col-xs-8
						.text-right
							.top-phone #[span #[i.fa.fa-phone] 8 (929)] 333-777-88, 333-777-99
							.top-email.hidden-sm.hidden-xs #[span #[i.fa.fa-envelope] E-Mail :] #[a(href="#!") emailsender@gmail.com]
							.top-button
							a.button.button-small(href="#!") Заказать звонок
	section.slider-wrap
		.container
			.slider-nav-container
				.slider-nav
					.prev #[i.fa.fa-angle-left]
					.next #[i.fa.fa-angle-right]
		.slider
			.slide
				.slide-bg(style="background-image: url(assets/img/slide-1.jpg);")
				.slide-content
					.container
						.row
							.col-md-10.col-sm-9.col-xs-offset-1
								.row
									.col-md-6
										h2 Первая оценочная компания Москвы
										p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет родного приставка, курсивных наш все дал над текстов!
										a.button(href="#!") Список услуг
									.col-md-6.hidden-sm.hidden-xs
										.slide-img-wrap
											img(src="assets/img/slide-img-1.png", alt="Alt")

			.slide
				.slide-bg(style="background-image: url(assets/img/slide-1.jpg);")
				.slide-content
					.container
						.row
							.col-md-10.col-sm-9.col-xs-offset-1
								.row
									.col-md-6
										h2 Первая оценочная компания Москвы
										p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет родного приставка, курсивных наш все дал над текстов!
										a.button(href="#!") Список услуг
									.col-md-6.hidden-sm.hidden-xs
										.slide-img-wrap
											img(src="assets/img/slide-img-1.png", alt="Alt")

			.slide
				.slide-bg(style="background-image: url(assets/img/slide-1.jpg);")
				.slide-content
					.container
						.row
							.col-md-10.col-sm-9.col-xs-offset-1
								.row
									.col-md-6
										h2 Первая оценочная компания Москвы
										p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет родного приставка, курсивных наш все дал над текстов!
										a.button(href="#!") Список услуг
									.col-md-6.hidden-sm.hidden-xs
										.slide-img-wrap
											img(src="assets/img/slide-img-1.png", alt="Alt")
