section.sect-teaser
	.container
		.row
			.col-sm-3
				.teaser-item
					.teaser-count
						.teaser-count-wrap
							i.fa.fa-star
							span.teaser-number 10
					.teaser-text Мы уже 10 лет на рынке оценки Москвы
			.col-sm-3
				.teaser-item
					.teaser-count
						.teaser-count-wrap
							i.fa.fa-star
							span.teaser-number 124
					.teaser-text У нас 124 довольных компаний клиентов
			.col-sm-3
				.teaser-item
					.teaser-count
						.teaser-count-wrap
							i.fa.fa-star
							span.teaser-number 12
					.teaser-text Мы имеем 12 офисов в Москве и подмосковье
			.col-sm-3
				.teaser-item
					.teaser-count
						.teaser-count-wrap
							i.fa.fa-star
							span.teaser-number 5
					.teaser-text Работаем более 5 лет с крупными клиентами
section.sect-services
	.container
		.row
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/1.png)")
						i.fa.fa-eye
					h4 Оценка недвижимости
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 1 700] руб.
					a.button(href="#!")Подробнее
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/2.png)")
						i.fa.fa-eye
					h4 Оценка земли
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 25 000] руб.
					a.button(href="#!")Подробнее
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/3.png)")
						i.fa.fa-eye
					h4 Оспаривание кадастровой стоимости
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 17 000] руб.
					a.button(href="#!")Подробнее
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/4.jpg)")
						i.fa.fa-eye
					h4 Оценка бизнеса
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 8 500] руб.
					a.button(href="#!")Подробнее
						
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/5.jpg)")
						i.fa.fa-eye
					h4 Оценка инвестиционных проектов
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 1 950] руб.
					a.button(href="#!")Подробнее
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/6.jpg)")
						i.fa.fa-eye
					h4 Оценка нематериальных активов
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 999] руб.
					a.button(href="#!")Подробнее
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/7.jpg)")
						i.fa.fa-eye
					h4 Оценка ценных бумаг
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 143 600] руб.
					a.button(href="#!")Подробнее
			.col-md-3.col-sm-6
				.service-item
					.service-item-image(style="background-image: url(assets/img/services/8.jpg)")
						i.fa.fa-eye
					h4 Переценка
					.service-item-stars
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
					.service-item-price
						i.fa.fa-tags
						|от #[span 1 700] руб.
					a.button(href="#!")Подробнее
						
					
