section.sect-universal.sect-links
	.container
		.row
			.col-sm-3
				.first-col.clearfix
					h2 Ссылки на госпорталы:
					a.button(href="№!") Все порталы
			.col-sm-9
				.row
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Male Menopause The Alternative Anti
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Home Remedies For Boils  
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Could Those Creepy Crawly Nighttime
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 What Can Happen If High Blood
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 What Is Cataract Sugery And How
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Treating Crohn S Disease With A
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Treating Crohn S Disease With A
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Getting The Upper Hand On Asthma Allergy 
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Treating Crohn S Disease With A
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Правительство Москвы Правительство Москвы  
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 What Is Cataract Sugery And How
					.col-lg-4.col-md-6
						a.link-item(href="#!")
							img(src="assets/img/rus.svg", alt="link")
							span.h4 Правительство Москвы Правительство Москвы  