
<footer class="main-foot">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6"><a href="#!" class="logo"><img src="assets/img/logo.png" alt="Юрдис"/></a>
        <p class="footer-about">Оценка любого имущества, активов, бизнеса, убытков, оспаривание кадастровой стоимости, ценных бумаг в Москве и Московской области.</p>
      </div>
      <div class="col-md-3 col-md-push-7 col-sm-6">
        <div class="text-right">
          <div class="top-phone"><span><i class="fa fa-phone"></i> 8 (929)</span> 333-777-88, 333-777-99</div>
          <div class="top-email hidden-sm"><span><i class="fa fa-envelope"></i> E-Mail :</span> <a href="#!">emailsender@gmail.com</a></div>
          <div class="top-button"><a href="#!" class="button button-small">Заказать звонок</a></div>
        </div>
        <div class="developer text-right hidden-xs"><a href="#!"><span>Создание сайта</span><img src="assets/img/cwebs.jpg" alt="Cwebs"/></a></div>
      </div>
      <div class="col-md-6 col-md-offset-1 col-md-pull-3 col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="top-panel-box">
              <h4>Адреса организаций:</h4>
              <ul>
                <li><i class="fa fa-map-marker"></i> г. Москва, ул. Соколовского, д. 3, офис № 305</li>
                <li><i class="fa fa-map-marker"></i> г. Москва, ул. Соколовского, д. 3, офис № 305</li>
              </ul>
            </div>
            <div class="top-panel-box">
              <h4>Время работы:</h4>
              <ul>
                <li><i class="fa fa-clock-o"></i> пн-пт с 10-00 - 18-00;<br/> перерыв с 13-00 до 14-00<br/> сб-вс выходной день</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="top-panel-box">
              <h4>Услуги компании:</h4>
              <ul class="menu-type-2">
                <li><a href="page.html"><span class="fa fa-check"></span> Оценка недвижимости</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Оценка земли</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Оценка ущерба</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Оспаривание кадастровой стоимости</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Оценка инвестиционных проектов</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Оценка нематериальных активов</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Оценка ценных бумаг</a></li>
                <li><a href="page.html"><span class="fa fa-check"></span> Переоценка</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>