
<div class="hidden">
  <form id="callback" class="popup-form callback zoom-anim-dialog">
    <h3>Заказать звонок</h3>
    <label><span>Ваше имя</span>
      <input type="text" name="Имя" placeholder="Введите ваше имя ..."/>
    </label>
    <label><span>Ваш телефон</span>
      <input type="text" name="Телефон" placeholder="Введите ваш телефон ..." required="required"/>
    </label>
    <div class="text-center">
      <button class="button">Отправить</button>
    </div>
    <input type="hidden" name="Форма" class="formname"/>
  </form>
</div>