
<header class="main-head">
  <nav class="top-line">
    <div class="container">
      <ul class="sf-menu">
        <li class="active"><a href="#!">Главная</a></li>
        <li><a href="#!">Услуги и стоимость <i class="fa fa-caret-down"></i></a>
          <ul>
            <li><a href="#!">Подменю</a></li>
            <li><a href="#!">Подменю</a>
              <ul>
                <li><a href="#!">Подменю-1</a></li>
                <li><a href="#!">Подменю-1</a></li>
                <li><a href="#!">Подменю-1</a></li>
              </ul>
            </li>
            <li><a href="#!">Подменю</a></li>
          </ul>
        </li>
        <li><a href="#!">Сертификаты</a></li>
        <li><a href="#!">Статьи</a></li>
        <li><a href="#!">Контакты</a></li>
      </ul>
    </div>
  </nav>
  <section class="top-panel">
    <div class="container">
      <div class="top-panel-content">
        <div class="row">
          <div class="col-md-2 col-sm-6 col-xs-6"><a href="#!" class="logo"><img src="assets/img/logo.png" alt="Юрдис"/></a></div>
          <div class="col-md-4">
            <div class="top-panel-box hidden-sm hidden-xs">
              <h4>Адреса организаций:</h4>
              <ul>
                <li><i class="fa fa-map-marker"></i> г. Москва, ул. Соколовского, д. 3, офис № 305</li>
                <li><i class="fa fa-map-marker"></i> г. Москва, ул. Соколовского, д. 3, офис № 305</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="top-panel-box hidden-sm hidden-xs">
              <h4>Время работы:</h4>
              <ul>
                <li><i class="fa fa-clock-o"></i> пн-пт с 10-00 - 18-00;<br/> перерыв с 13-00 до 14-00<br/> сб-вс выходной день</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="text-right">
              <div class="top-phone"><span><i class="fa fa-phone"></i> 8 (929)</span> 333-777-88, 333-777-99</div>
              <div class="top-email"><span><i class="fa fa-envelope"></i> E-Mail :</span> <a href="#!">emailsender@gmail.com</a></div>
              <div class="top-button"></div><a href="#!" class="button button-small">Заказать звонок</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slider-wrap">
    <div class="container">
      <div class="slider-nav-container">
        <div class="slider-nav">
          <div class="prev"><i class="fa fa-angle-left"></i></div>
          <div class="next"><i class="fa fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="slide">
        <div style="background-image: url(assets/img/slide-1.jpg);" class="slide-bg"></div>
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Первая оценочная компания Москвы</h2>
                    <p> Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет родного приставка, курсивных наш все дал над текстов!</p><a href="#!" class="button">Список услуг</a>
                  </div>
                  <div class="col-md-6">
                    <div class="slide-img-wrap"><img src="assets/img/slide-img-1.png" alt="Alt"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div style="background-image: url(assets/img/slide-1.jpg);" class="slide-bg"></div>
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Первая оценочная компания Москвы</h2>
                    <p> Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет родного приставка, курсивных наш все дал над текстов!</p><a href="#!" class="button">Список услуг</a>
                  </div>
                  <div class="col-md-6">
                    <div class="slide-img-wrap"><img src="assets/img/slide-img-1.png" alt="Alt"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div style="background-image: url(assets/img/slide-1.jpg);" class="slide-bg"></div>
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Первая оценочная компания Москвы</h2>
                    <p> Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Живет родного приставка, курсивных наш все дал над текстов!</p><a href="#!" class="button">Список услуг</a>
                  </div>
                  <div class="col-md-6">
                    <div class="slide-img-wrap"><img src="assets/img/slide-img-1.png" alt="Alt"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>