
<section class="sect-news sect-universal">
  <div class="container">
    <div class="row">
      <div class="col-md-3 clearfix">
        <div class="first-col">
          <h2>Новости компании:</h2><a href="№!" class="button">Все новости</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="new-item"><a style="background-image: url(assets/img/services/1.jpg);" class="new-item-img"><i class="fa fa-eye"></i></a>
          <div class="new-item-text">
            <h4>Заголовок новости номер один раз</h4>
            <p>I've had it with this school, Skinner. Low test scores, class after class of ugly, ugly children… </p>
          </div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="new-item"><a style="background-image: url(assets/img/services/2.jpg);" class="new-item-img"><i class="fa fa-eye"></i></a>
          <div class="new-item-text">
            <h4>Заголовок новости номер один два</h4>
            <p>I've had it with this school, Skinner. Low test scores, class after class of ugly, ugly children… </p>
          </div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="new-item"><a style="background-image: url(assets/img/services/3.jpg);" class="new-item-img"><i class="fa fa-eye"></i></a>
          <div class="new-item-text">
            <h4>Заголовок новости номер один три</h4>
            <p>I've had it with this school, Skinner. Low test scores, class after class of ugly, ugly children… </p>
          </div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>