
<section class="sect-teaser">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="teaser-item">
          <div class="teaser-count">
            <div class="teaser-count-wrap"><i class="fa fa-star"></i><span class="teaser-number">10</span></div>
          </div>
          <div class="teaser-text">Мы уже 10 лет на рынке оценки Москвы</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="teaser-item">
          <div class="teaser-count">
            <div class="teaser-count-wrap"><i class="fa fa-star"></i><span class="teaser-number">124</span></div>
          </div>
          <div class="teaser-text">У нас 124 довольных компаний клиентов</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="teaser-item">
          <div class="teaser-count">
            <div class="teaser-count-wrap"><i class="fa fa-star"></i><span class="teaser-number">12</span></div>
          </div>
          <div class="teaser-text">Мы имеем 12 офисов в Москве и подмосковье</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="teaser-item">
          <div class="teaser-count">
            <div class="teaser-count-wrap"><i class="fa fa-star"></i><span class="teaser-number">5</span></div>
          </div>
          <div class="teaser-text">Работаем более 5 лет с крупными клиентами</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sect-services">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/1.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оценка недвижимости</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>1 700</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/2.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оценка земли</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>25 000</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/3.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оспаривание кадастровой стоимости</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>17 000</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/4.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оценка бизнеса</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>8 500</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/5.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оценка инвестиционных проектов</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>1 950</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/6.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оценка нематериальных активов</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>999</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/7.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Оценка ценных бумаг</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>143 600</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-item">
          <div style="background-image: url(assets/img/services/8.jpg)" class="service-item-image"><i class="fa fa-eye"></i></div>
          <h4>Переценка</h4>
          <div class="service-item-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          <div class="service-item-price"><i class="fa fa-tags"></i>от <span>1 700</span> руб.</div><a href="#!" class="button">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>