
<section class="sect-universal sect-links">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="first-col clearfix">
          <h2>Ссылки на госпорталы:</h2><a href="№!" class="button">Все порталы</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Male Menopause The Alternative Anti</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Home Remedies For Boils  </span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Could Those Creepy Crawly Nighttime</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">What Can Happen If High Blood</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">What Is Cataract Sugery And How</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Treating Crohn S Disease With A</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Treating Crohn S Disease With A</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Getting The Upper Hand On Asthma Allergy </span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Treating Crohn S Disease With A</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Правительство Москвы Правительство Москвы  </span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">What Is Cataract Sugery And How</span></a></div>
          <div class="col-lg-4 col-md-6"><a href="#!" class="link-item"><img src="assets/img/rus.svg" alt="link"/><span class="h4">Правительство Москвы Правительство Москвы  </span></a></div>
        </div>
      </div>
    </div>
  </div>
</section>